{extend name="extends:frame" /}
{block name="menu"}
<div class="page-content-wrapper">
    <div class="page-content">

        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            添加人员
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">eCommerce</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Product Edit</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <form role="form" method="POST" action="{:url('/user_admin')}">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" name='name' class="form-control" id="name" placeholder="姓&&名">
                    </div>
                    <div class="form-group">
                        <label for="telephone">手机号</label>
                        <input type="text" name='telephone' class="form-control" id="telephone" placeholder="手机号">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="email" name='email' class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="address">地址</label>
                        <input type="text" name='address' class="form-control" id="address" placeholder="省/市/具体地址">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="exampleInputPassword1">Password</label>-->
                        <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="exampleInputFile">File input</label>-->
                        <!--<input type="file" id="exampleInputFile">-->
                        <!--<p class="help-block">Example block-level help text here.</p>-->
                    <!--</div>-->
                    <!--<div class="checkbox">-->
                        <!--<label>-->
                            <!--<input type="checkbox"> Check me out-->
                        <!--</label>-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}